@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "find.css";
@import "more.css";
@import "friends.css";
@import "settings.css";
@import "chat.css";
@import "mobile.css";

* {
  box-sizing: border-box;
  /* 
   의미는 box width 가 컨텐츠가 아니라 전체 border까지 다포함한다는거
   
  일반적으로 CSS 는 padding 을 추가하면 content가 300px 이고 padding 이 0이며 
  박스도 300px 이라면 20px 패딩왼쪽 주면 320px 되버림
  근데 border-box 해주면 컨텐츠가 280px 로 되버림. 전체 박스는 300px.
  내부의 컨텐츠는 icon들이 있는경우 서로 밀리겠지
  그래서 nav-bar 에서 width 100% 인데 50px 패딩을 줘버리나까, 컨텐츠가 꽉찬상태에서
   100% + 50px 이 되버려서 넘어간것.
  */
}

body {
  background-color: white;
  padding: 0px 20px 10px 20px;
  color: #020202;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

main {
  animation: fadeIn 0.5s ease-in-out;
}
